# Flutter
.dart_tool/
.packages
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
android/.gradle/
android/local.properties
.flutter-plugins
.flutter-plugins-dependencies

# Backend
backend/.venv/
backend/media/
backend/.test-media/
backend/.env
backend/__pycache__/
**/__pycache__/
*.pyc
.pytest_cache/
*.egg-info/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Kalitlar
ios/Flutter/Secrets.xcconfig
